/* -------------------- */
/* base
/* -------------------- */
body{
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}
li{
  list-style:none;
}
a{
    text-decoration: none;
    color:#fff;
}
img{
  width:100%;
  vertical-align: bottom;
}



/* -------------------- */
/* header
/* -------------------- */
.header{
    background-color: #1B1310;
    color: #fff;
    height:74px;
    padding: 0 120px;
    border-bottom:1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    /* navの横並び */
    display: flex;
}
.nav-item{
    /* メニューの右側に余白 */
    margin-right: 55px;
}

/*PC版では表示しない*/
.burger-btn{
  display: none;  /*領域そのものを生成しない*/
}

/* ------------------ */
/* fv
/* ------------------ */
.fv{
  height:90vh;
  background-color:#141414;
  background-image: url(../img/fv-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.main-copy{
   font-size: 50px;
   color: #fff;
   font-weight: bold;
   border:2px solid #fff;
   padding: 34px 42px;
}

/* ------------------ */
/* about
/* ------------------ */
.section-title{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 70px;
}
h3{
  font-size: 2.4rem;
  font-weight: bold;
  line-height:2;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
.section-wrapper{
  padding:100px 10% 50px; 
  
}




@media screen and (max-width:768px){
  /* ----------------------- */
  /* base_sp
  /* ----------------------- */
  .burger-btn{
    display: block;       /*ブロックレベルで表示*/
    width: 39px;          /*幅*/
    height: 39px;         /*高さ*/
    position: relative;   /*通常の位置を基準とした相対的な配置*/
    z-index: 3;           /*値が大きいものほど前面（手前）に表示される （0 が基準）*/
    border:none;          /*線なし*/
  }    
  .bar{      
    width: 20px;      
    height: 1px;        
    display: block;      
    position: absolute;      /*絶対位置*/
    left: 50%;      
    transform: translateX(-50%);  /*X方向の子要素の半分戻る*/
    background-color: #fff;    
  }    
  .bar_top{   
    top: 10px;  /*上からの距離*/
  }
  .bar_mid{    
    top: 50%;   /*上からの距離*/
    transform: translate(-50%,-50%);  /*X方向Y方向、共に半分戻る*/
  }
  .bar_bottom{
    bottom: 10px;   /*下からの距離*/
  }

  /*ボタンをクローズ*/
  .burger-btn.close .bar_top{      
    transform: translate(-50%,10px) rotate(45deg);      
    transition: transform .3s;    
  }    
  .burger-btn.close .bar_mid{      
    opacity: 0;       
    transition: opacity .3s;    
  }    
  .burger-btn.close .bar_bottom{
  transform: translate(-50%,-8px) rotate(-45deg);
  transition: transform .3s;    
  }

  body.noscroll{
    overflow: hidden;
    }

  /* ------------------ */
  /* humberger-menu */
  /* ------------------ */
  .header{
      padding: 0 5%;
  }
  .nav-wrapper{       /*ナビゲーションメニュー*/
    display: none;    /*領域そのものを生成しない*/
    width: 100vw;     /* ビューポートが 600px だとしたら、画像の幅は 60px になる */
    height: 100vh;    /*ビューポート　高さ*/
    position: fixed;  /*絶対位置、スクロールしても位置は固定されたまま*/
    top: 0;           /*上0*/
    left: 0;          /*左0*/
    z-index: 2;       /*値が大きいものほど前面（手前）に表示される （0 が基準）
                       キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }
  .header-nav{
    width: 100%;
    height: 100%;
    background-color:#1B1310;
    z-index: 2;
  }
  .header-nav .nav-list{
    display: block;
    position: absolute;   /*絶対位置*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .header-nav .nav-item{
    margin-right: 0;
    margin-bottom: 40px;
  }
  
  /* ------------------ */
  /* fv */
  /* ------------------ */
  .main-copy{
    font-size: 30px;
  }
  
  /* ------------------ */
  /* about */
  /* ------------------ */
  h3{
      font-size: 20px;
      margin-bottom: 30px;
  }
  .section-wrapper{
      padding:100px 5% 50px;  
  }


}  
  
 
